input {
    file {
        path => "/Users/******/Desktop/Elastic/3Data500/realdata/thecheat_total_10_v1.csv"
        start_position => beginning
        sincedb_path => "/dev/null"
    }

}
filter {
  csv {
      separator => ","
      columns => ["id","datetime","category","goods","platform","price","outline"]
  }
  if[datetime] == "" {
        drop {}
    }
  if[datetime] == "NULL" {
      drop {}
  }
  if[datetime] == "DATE" {
      drop {}
  }  
   
  mutate {
    convert => {
      "id" => "string"
      "category" => "string"
      "goods" => "string"
      "platform" => "string"
      "price" => "integer"
      "outline" => "string"
    }
    remove_field => ["host","path","message","@version"]
  }
}


output {
    stdout {
        codec => "dots"
    }
    elasticsearch {
        hosts => ["localhost:9200"]
        user => "*******"
        password => "*******" 
        index => '3d500_thecheat_data'
    }
}